{% if task.priorities == 'Minor' %}
    <img src="/static/images/minor.png" class="home_page_images">
    <span>#{{ task.pk }}: {{ task.task_title }}</span>
{% elif task.priorities == 'Normal' %}
    <img src="/static/images/normal.png" class="home_page_images">
    <span>#{{ task.pk }}: {{ task.task_title }}</span>
{% elif task.priorities == 'Major' %}
    <img src="/static/images/major.png" class="home_page_images">
    <span>#{{ task.pk }}: {{ task.task_title }}</span>
{% else %}
    <img src="/static/images/critical.png" class="home_page_images">
    <span>#{{ task.pk }}: {{ task.task_title }}</span>
{% endif %}

