{% if task.status != 'Done' %}
    {% if task.remaining_estimation > 2 %}
        <h4><a id="task-title" class="task-estimation task-in-time"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% elif task.remaining_estimation <= 2 and task.remaining_estimation >= 0 %}
        <h4><a id="task-title" class="task-estimation task-near-end-estimation"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% elif task.remaining_estimation < 0 %}
        <h4><a id="task-title" class="task-estimation task-over-estimation"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% elif task.remaining_estimation is None %}
        <h4><a id="task-title" class="task-estimation task-estimation-none"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% endif %}
{% else %}
    <h4><a id="task-title"
           href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
{% endif %}