{% if task.status != 'Done' %}
    {% if task.delta > 2 %}
        <h4><a id="task_title" class="task_in_time"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% elif task.delta <= 2 and task.delta >= 0 %}
        <h4><a id="task_title" class="task_near_end_estimation"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% elif task.delta < 0 %}
        <h4><a id="task_title" class="task_over_estimation"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% elif task.delta is None %}
        <h4><a id="task_title" class="task_estimation_none"
               href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
    {% endif %}
{% else %}
    <h4><a id="task_title"
           href="{% url 'task_detail' pk=task.pk %}">{% include 'tasks/templates_helpers/base_home.html' %}</a></h4>
{% endif %}