/*used for centralized input fields and labels in login, signup, change password, edit profile anf password reset pages*/
.alignment {
    display: block;
    margin: auto;
    width: 250px;
}

.alignment input {
    margin-bottom: 20px;
}

.form-title {
    text-align: center;
}

button.btn.btn-primary {
    width: 250px;
}

.reset_password {
    text-align: center;
    display: block;
    padding-top: 20px;
}

.profile {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    text-align: justify;
}