.task-fields * {
    margin: auto 50px 20px 50px;
    width: 60%;
}

#id-priorities,
#time-estimated,
#id-status {
    width: 200px;
}

.btn.btn-primary {
    width: 200px;
    margin-right: 0;
    margin-bottom: 30px;
}

.btn.btn-primary[type="submit"] {
    background-color: #269622;
    border-color: #269622;
}

.btn.btn-primary[type="reset"] {
    background-color: #a53d17;
    border-color: #a53d17;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .task-fields *,
    .btn.btn-primary,
    #id-priorities,
    #time-estimated {
        margin: auto;
        padding: 5px 10px 5px 10px;
        width: 95%
    }

    .btn.btn-primary {
        margin: 10px 10px 50px 10px;
    }

    .btn.btn-primary#save-task {
        margin-bottom: 0;
    }
}
