.column {
    float: left;
    width: 33%;
    padding: 30px;

}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        padding: 10px;
        margin: auto;
    }
    .column-name-done {
            margin-bottom: 30px;
    }
}


.column-name {
    text-align: center;
    color: #ffffff;
}

.column-name-new {
    background: #495a77;
}

.column-name-in-progress {
    background: #ce8d00;
}

.column-name-done {
    background: #51c944;
}

.status {
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-right: auto;
    width: 180px;
    text-align: center;
    color: #ffffff;
}

.status-new {
    background: #495a77;
}

.status-in-progress {
    background: #ce8d00;
}

.status-done {
    background: #51c944;
}

.task-column a {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

.home-page-images {
    width: 19px;
    height: 19px;
}