.priority {
    display: inline-block;
    margin-left: 30px;
    margin-right: auto;
    width: 180px;
    text-align: center;
    color: #ffffff;
}

.minor {
    background: #969696;
}

.normal {
    background: #6d6fa5;
}

.major {
    background: #964646;
}

.critical {
    background: #8e0000;
}

.title {
    display: block;
    margin-top: 10px;
    margin-bottom: 35px;
    padding-left: 30px;
    text-align: justify;
}

.task-title {
    display: block;
    float: none;
    color: #337ab7;
}

.task-content *:not(b):not(.task-estimation-time ) {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    text-align: justify;
}

.task-in-time {
    color: green;
}

.task-near-end-estimation {
    color: orange;
}

.task-over-estimation {
    color: red;
}

.task-estimation-none {
    color: grey;
}

.task-estimation-time {
    margin-bottom: 50px;
}