{% extends 'tasks/base.html' %}
{% block title%}Page not found{% endblock %}
{% block authorized_user_content %}
<h3 id="page_not_found">No such page. Please go to <a id="home" href="{% url 'home' %}">Home page!</a></h3>
{% endblock %}
{% block anonymous_user_content %}
<h3 id="page_not_found">You should be logged in to see that page. Please go to <a id="login_page_redirect" href="{% url 'login' %}">Login
    page</a>
    or to <a id="sign_up_page_redirect" href="{% url 'signup' %}">Sign up page!</a></h3>
{% endblock %}