<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">logout</a>
                <p id="greeting">Hello {{user.username}}</p>
                <a href="{% url 'create_task' %}">Create task</a>
                <hr>
        {% else %}
                <a href="{% url 'signup' %}">signup</a>
        {% endif %}
    </header>
    {% if user.is_anonymous %}
        {% block content %}
        {% endblock %}
    {% else %}
        {% block body %}
        {% endblock %}
    {% endif %}
</body>
</html>