{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_pages_styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_message.css' %}"/>
{% endblock %}
{% block title %}Change password for "{{ user.username }}" account{% endblock %}
{% block authorized_user_content %}
    <form method='post' name="change_password_from">
        {% csrf_token %}
        <div class="alignment">
            <input class="form-control" id="id_username" type="text" name="username" maxlength="30"
                   placeholder="Username"
                   value="{{ user.username }}" readonly>
            <input class="form-control" id="id_old_password" type="password" name="old_password"
                   placeholder="Old password"
                   title="Enter the old password" required autofocus>
            <input class="form-control" id="id_new_password1" type="password" name="new_password1"
                   placeholder="New password"
                   title="Enter the new password" required>
            <input class="form-control" id="id_new_password2" type="password" name="new_password2"
                   placeholder="Confirm password"
                   title="Enter the same password as before, for verification." required>
            <button class="btn btn-primary" id="submit_btn" type="submit">Submit</button>
        </div>
        {% include 'tasks/templates_helpers/error_messages.html' %}
        <script src="{% static 'js/change_password_warning.js' %}"></script>
    </form>
{% endblock %}