{% extends 'tasks/base.html' %}
{% block title %}Profile{% endblock %}
{% block body %}
    <form method='post'>
        {% csrf_token %}
        <div class="alignment">
            <input class="form-control" id="id_username" type="text" name="username" maxlength="30"
                   placeholder="Username"
                   value="{{ user.username }}" readonly>
            <input class="form-control" id="id_old_password" type="password" name="old_password"
                   placeholder="Old password"
                   title="Enter the old password" required autofocus>
            <input class="form-control" id="id_new_password1" type="password" name="new_password1"
                   placeholder="New password"
                   title="Enter the new password" required>
            <input class="form-control" id="id_new_password2" type="password" name="new_password2"
                   placeholder="Confirm password"
                   title="Enter the same password as before, for verification." required>
            <button class="btn btn-primary" id="submit_btn" type="submit">Submit</button>
            <div class="error_message">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger fade in">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}