{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_message.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_task_page.css' %}"/>
{% endblock %}
{% block title %}You are creating task {% endblock %}
{% block authorized_user_content %}
    <form method="post" name="create_form">
        {% csrf_token %}
        {% include 'tasks/templates_helpers/tasks_fields.html' %}
        <div class="form-group-buttons">
            <button id="save_task" type="submit" class="btn btn-primary">Save</button>
            <a id="reset_fields" type="reset" class="btn btn-primary" href="{% url 'create_task' %}">Reset</a>
        </div>
        {% include 'tasks/templates_helpers/error_messages.html' %}
    </form>
    <script src="{% static 'js/create_task_warning.js' %}"></script>
{% endblock %}