{% extends 'tasks/base.html' %}
{% block title%}You are editing task: {{ task.task_title }} {% endblock %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <label for="task_title">Task title: </label>
    <input id="task_title" type="text" name="task_title" maxlength="150" value="{{ task.task_title }}">
    <br><br>
    <label for="task_description">Task description:</label>
    <textarea id="task_description" name="task_description">{{ task.task_description }}</textarea>
    <br><br>
    <label for="time_estimated">Time estimated:</label>
    <input id="time_estimated" type="date" name="time_estimated" value="{{ task.time_estimated|date:'Y-m-d'}}">
    <br><br>
    <button id="edit_task" type="submit">Edit task</button>
    <br><br>
    <a href="{% url 'delete' pk=task.pk %}">Delete task</a>
    <br>
    <br>
    <a href="{% url 'task_detail' pk=task.pk %}"> << Go back to 'Task detail' page </a>
</form>
{% endblock %}