{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_message.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_task_page.css' %}"/>
{% endblock %}
{% block title %}You are editing task: {{ task.task_title }} {% endblock %}
{% block authorized_user_content %}
    <form method="post" name="form">
        {% csrf_token %}
        <div class="task-fields">
            <label for="id-status">Status</label>
            <select name="status" id="id-status" class="form-control">
                <option value="New" {% if task.status == "New" %}selected="selected"{% endif %}>New</option>
                <option value="In progress" {% if task.status == "In progress" %}selected="selected"{% endif %}>In
                    progress
                </option>
                <option value="Done" {% if task.status == "Done" %}selected="selected"{% endif %}>Done</option>
            </select>
            {% include 'tasks/templates_helpers/tasks_fields.html' %}
            <button id="edit-task" type="submit" class="btn btn-primary">Edit</button>
        </div>
        {% include 'tasks/templates_helpers/error_messages.html' %}
    </form>
    <script src="{% static 'js/warning_message_on_leave.js' %}"></script>
{% endblock %}