{% extends 'tasks/base.html' %}
{% block title%}You are editing task: {{ task.task_title }} {% endblock %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="form-group-status">
        <label for="id_status">Status</label>
        <select name="status" id="id_status" class="form-control">
            <option value="New" {% if task.status == "New" %}selected="selected"{% endif %}>New</option>
            <option value="In progress" {% if task.status == "In progress" %}selected="selected"{% endif %}>In progress</option>
            <option value="Done" {% if task.status == "Done" %}selected="selected"{% endif %}>Done</option>
        </select>
    </div>
    <div class="form-group-priorities">
        <label for="id_priorities">Priority</label>
        <select name="priorities" id="id_priorities" class="form-control">
            <option value="Minor" {% if task.priorities == "Minor" %}selected="selected"{% endif %}>Minor</option>
            <option value="Normal" {% if task.priorities == "Normal" %}selected="selected"{% endif %}>Normal</option>
            <option value="Major" {% if task.priorities == "Major" %}selected="selected"{% endif %}>Major</option>
            <option value="Critical" {% if task.priorities == "Critical" %}selected="selected"{% endif %}>Critical</option>
        </select>
    </div>
    <div class="form-group-title">
        <label for="task_title">Task title</label>
        <input class="form-control" id="task_title" type="text" name="task_title" maxlength="150" value="{{ task.task_title }}"/>
    </div>
    <div class="form-group-description">
        <label for="task_description">Task description</label>
        <textarea class="form-control" rows="5" cols="50" id="task_description" name="task_description">{{ task.task_description }}</textarea>
    </div>
    <div class="form-group-time-estimation">
        <label for="time_estimated">Time estimated:</label>
        <input class="form-control" id="time_estimated" type="date" name="time_estimated" value="{{ task.time_estimated|date:'Y-m-d'}}">
    </div>
    <button id="edit_task" type="submit" class="btn btn-primary">Edit</button>
        <div class="error_message">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        </div>
</form>
{% endblock %}