{% extends 'tasks/base.html' %}
{% block title %}Edit profile information for "{{ user.username }}" account {% endblock %}
{% block body %}
    <form method='post' name="edit_profile_form">
        {% csrf_token %}
        <div class="alignment">
            <input class="form-control" id="id_username" type="text" name="username" maxlength="30"
                   placeholder="Username" value="{{ user.username }}" readonly>
            <input class="form-control" id="id_first_name" type="text" name="first_name" maxlength="30"
                   placeholder="First Name" value="{{ user.first_name }}">
            <input class="form-control" id="id_last_name" type="text" name="last_name" maxlength="30"
                   placeholder="Last Name" value="{{ user.last_name }}">
            <input class="form-control" id="id_email" type="email" name="email" maxlength="254" placeholder="Email"
                   value="{{ user.email }}">
            <button class="btn btn-primary" id="submit_btn" type="submit">Submit</button>
        </div>
    </form>
    <script>
        var isSubmitButtonClicked = false;

        var isSomethingChanged = false;

        $("#submit_btn").click(function () {
            isSubmitButtonClicked = true;
        });

        $("[name='edit_profile_form']").change(function () {
            isSomethingChanged = true;
        });

        $(window).bind('beforeunload', function () {
            if (!isSubmitButtonClicked && isSomethingChanged) {
                return 'Leave the site?';
            }
        });
    </script>

{% endblock %}