{% extends 'tasks/base.html' %}
{% block title %}Home page{% endblock %}
{% block body %}
    <div class="column">
        <h2 class="column_name_new">New</h2>
        <div class="task_column">
            {% for task in tasks %}
                {% if task.status == 'New' %}
                    {% include 'tasks/templates_helpers/home_page_estimation_colors.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="column">
        <h2 class="column_name_in_progress">In progress</h2>
        <div class="task_column">
            {% for task in tasks %}
                {% if task.status == 'In progress' %}
                    {% include 'tasks/templates_helpers/home_page_estimation_colors.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="column">
        <h2 class="column_name_done">Done</h2>
        <div class="task_column">
            {% for task in tasks %}
                {% if task.status == 'Done' %}
                    {% include 'tasks/templates_helpers/home_page_estimation_colors.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}