{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/task_detail.css' %}"/>
{% endblock %}
{% block title %}Profile: {{ user.username }}{% endblock %}
{% block authorized_user_content %}
    <form method='post'>
        {% csrf_token %}
        <div class="profile">
            <label>Username:</label>
            <p id="username"> {{ user.username }}</p>
            <hr>
            {% if user.first_name != '' %}
                <label>First name:</label>
                <p id="first_name">{{ user.first_name }}</p>
                <hr>
            {% endif %}
            {% if user.last_name != '' %}
                <label>Last name:</label>
                <p id="last_name">{{ user.last_name }}</p>
                <hr>
            {% endif %}
            {% if user.email != '' %}
                <label>Email:</label>
                <p id="email">{{ user.email }}</p>
                <hr>
            {% endif %}
        </div>
    </form>
{% endblock %}