{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_pages_styles.css' %}"/>
{% endblock %}
{% block title %}Profile: {{ user.username }}{% endblock %}
{% block authorized_user_content %}
    <form method='post'>
        {% csrf_token %}
        <div class="profile">
            <p><b>Username:</b>&ensp;<span id="username">{{ user.username }}</span></p>
            {% if user.first_name != '' %}
                <p><b>First name:</b>&ensp;<span id="first-name">{{ user.first_name }}</span></p>
            {% endif %}
            {% if user.last_name != '' %}
                <p><b>Last name:</b>&ensp;<span id="last-name">{{ user.last_name }}</span></p>
            {% endif %}
            {% if user.email != '' %}
                <p><b>Email:</b>&ensp;<span id="email">{{ user.email }}</span></p>
            {% endif %}
        </div>
    </form>
{% endblock %}