{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_pages_styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_message.css' %}"/>
{% endblock %}
{% block title %} Sign Up {% endblock %}
{% block anonymous_user_content %}
    <div class="alignment">
        <h2 class="form-title">Registration form</h2>
        <form method='post'>
            {% csrf_token %}
            <input class="form-control" id="username" type="text" name="username" maxlength="150"
                   placeholder="Username"
                   title="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only." autofocus
                   required>
            <input class="form-control" id="first-name" type="text" name="first_name" maxlength="30"
                   placeholder="First Name" title="Optional">
            <input class="form-control" id="last-name" type="text" name="last_name" maxlength="30"
                   placeholder="Last Name" title="Optional">
            <input class="form-control" id="email" type="email" name="email" maxlength="254" placeholder="Email"
                   title="Required. Inform a valid email address." required>
            <input class="form-control" id="password1" type="password" name="password1" placeholder="Password"
                   title="Your password must contain at least 8 characters and can't be entirely numeric." required>
            <input class="form-control" id="password2" type="password" name="password2"
                   placeholder="Password confirmation" title="Enter the same password as before, for verification."
                   required>
            <button class="btn btn-primary" id="signup-btn" type="submit">Sign Up</button>
        </form>
    </div>
    {% include 'tasks/templates_helpers/error_messages.html' %}
{% endblock %}