{% extends 'tasks/base.html' %}
{% block title %} Sign Up {% endblock %}
{% block content %}
<h2>Registration form</h2>
<br>
<strong>If you already registered, please go back to <a href="{% url 'login' %}">Login Page</a></strong>
<br>
<hr>
<br>
<form method='post'>
    {% csrf_token %}
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" maxlength="150" autofocus required>
    <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
    <br><br>
    <label for="first_name">First name:</label>
    <input id="first_name" type="text" name="first_name" maxlength="30">
    <span class="helptext">Optional</span>
    <br><br>
    <label for="last_name">Last name:</label>
    <input id="last_name" type="text" name="last_name" maxlength="30">
    <span class="helptext">Optional</span>
    <br><br>
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" maxlength="254" required>
    <span class="helptext">Required. Inform a valid email address.</span>
    <br>
    <hr>
    <br>
    <label for="password1">Password:</label>
    <input id="password1" type="password" name="password1" required>
    <span class="helptext">
        <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
    </span>
    <br>
    <label for="password2">Password confirmation:</label>
    <input id="password2" type="password" name="password2" required>
    <span class="helptext">Enter the same password as before, for verification.</span>
    <br>
    <hr>
    <br>
    <button type="submit">Sign Up</button>
</form>
{% endblock %}