{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/task_detail.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}"/>
{% endblock %}
{% block title %} Task: '{{ task.task_title }}' {% endblock %}
{% block authorized_user_content %}
<div class="task">
    {% if task.status == 'New' %}
        <h2 class="status_new">{{task.status}}</h2>
    {% elif task.status == 'In progress' %}
        <h2 class="status_in_progress">{{task.status}}</h2>
    {% else %}
        <h2 class="status_done">{{task.status}}</h2>
    {% endif %}
    <div id="id_priorities">
        {% if task.priorities == 'Minor' %}
            <h2 class="minor">{{task.priorities}}</h2>
        {% elif task.priorities == 'Normal' %}
            <h2 class="normal">{{task.priorities}}</h2>
        {% elif task.priorities == 'Major' %}
            <h2 class="major">{{task.priorities}}</h2>
        {% else %}
            <h2 class="critical">{{task.priorities}}</h2>
        {% endif %}
    </div>
    <label id="title_task">Task title:</label>
    <h4 class="task_title" id="task_title_detail"><strong>{{ task.task_title }}</strong> </h4>
    <hr>
    <label id="description_task">Description of the task:</label>
    <div class="task_description" id="task_description">{{ task.task_description }}</div>
    <hr>
    <div class="time">
        {% if task.time_estimated %}
        <label id="task_estimation">Estimation:</label>
        <p id="estimated">{{ task.time_estimated|date:'M. d, Y' }}</p>
        {% endif%}
        {% if task.time_published %}
        <div class="date">
            <label id="task_published">Published at:</label>
            <p id="published_at">{{ task.time_published|date:'M. j, Y, h:i A' }}</p>
        </div>
        {% endif %}
        {% if task.time_edited %}
        <div class="edited_date">
            <label id="task_edited">Edited at: </label>
            <p id="edited_at">{{ task.time_edited|date:'M. j, Y, h:i A' }}</p>
            </div>
        {% endif %}
    </div>
    <br />
    {% if task.delta > 2 and task.status != 'Done' %}
        <p class="task_in_time">You have {{ task.delta }} day(s) to finish this task in time!</p>
    {% elif task.delta <= 2 and task.delta >= 0 and task.status != 'Done' %}
        <p class="task_near_end_estimation">You have {{ task.delta }} day(s) to finish your task in time!</p>
    {% elif task.delta < 0 and task.status != 'Done' %}
        <p class="task_over_estimation">You are not in time with this task. You have  underestimate by {{ task.delta }} day(s)!</p>
    {% elif task.delta is None and task.status != 'Done' %}
        <p class="task_estimation_none">You didn't set any estimation to this task.</p>
    {% endif %}

</div>
{% endblock %}
