{% extends 'tasks/base.html' %}
{% block title %} Task: '{{ task.task_title }}' {% endblock %}
{% block body %}
<div class="task">
    {% if task.status == 'New' %}
        <h2 class="status_new">{{task.status}}</h2>
    {% elif task.status == 'In progress' %}
        <h2 class="status_in_progress">{{task.status}}</h2>
    {% else %}
        <h2 class="status_done">{{task.status}}</h2>
    {% endif %}
    <h1 class="task_title" id="task_title_detail"><strong>{{ task.task_title }}</strong> </h1>
    <p class="task_description" id="task_description">{{ task.task_description }}</p>
    <div class="time">
        {% if task.time_estimated %}
            <p id="estimated">Estimation: {{ task.time_estimated|date:'M. d, Y' }}</p>
        {% endif%}
        {% if task.time_published %}
        <div class="date">
            <p id="published_at">Published at: {{ task.time_published|date:'M. j, Y, h:i A' }}</p>
        </div>
        {% endif %}
        {% if task.time_edited %}
        <div class="edited_date">
            <p id="edited_at">Edited at: {{ task.time_edited|date:'M. j, Y, h:i A' }}</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}