{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/task_detail.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}"/>
{% endblock %}
{% block title %} Task: '{{ task.task_title }}' {% endblock %}
{% block authorized_user_content %}
    {% if task.status == 'New' %}
        <h2 class="status status-new">{{ task.status }}</h2>
    {% elif task.status == 'In progress' %}
        <h2 class="status status-in-progress">{{ task.status }}</h2>
    {% else %}
        <h2 class="status status-done">{{ task.status }}</h2>
    {% endif %}
    <div id="id-priorities">
        {% if task.priorities == 'Minor' %}
            <h2 class="priority minor">{{ task.priorities }}</h2>
        {% elif task.priorities == 'Normal' %}
            <h2 class="priority normal">{{ task.priorities }}</h2>
        {% elif task.priorities == 'Major' %}
            <h2 class="priority major">{{ task.priorities }}</h2>
        {% else %}
            <h2 class="priority critical">{{ task.priorities }}</h2>
        {% endif %}
    </div>
    <div class="title">
        <label id="title-task">Task title:</label>
        <h4 class="task-title" id="task-title-detail"><strong>{{ task.task_title }}</strong></h4>
    </div>
    <div class="task-content">
        <label id="description-task">Description of the task:</label>
        <div class="task-description" id="task-description">{{ task.task_description }}</div>
        {% if task.time_estimated %}
            <p><b>Estimation:</b>&ensp;<span id="estimated">{{ task.time_estimated|date:'M. d, Y' }}</span></p>
        {% endif %}
        {% if task.time_published %}
            <p><b>Published at:</b>&ensp;<span  id="published-at">{{ task.time_published|date:'M. j, Y, h:i A' }}</span></p>
        {% endif %}
        {% if task.time_edited %}
            <p><b>Edited at:</b>&ensp;<span id="edited-at">{{ task.time_edited|date:'M. j, Y, h:i A' }}</span></p>
        {% endif %}
        <div class="task-estimation-time">
            {% if task.remaining_estimation > 2 and task.status != 'Done' %}
                <p class="task-in-time">You have {{ task.remaining_estimation }} day(s) to finish this task in time!</p>
            {% elif task.remaining_estimation <= 2 and task.remaining_estimation >= 0 and task.status != 'Done' %}
                <p class="task-near-end-estimation">You have {{ task.remaining_estimation }} day(s) to finish your task in time!</p>
            {% elif task.remaining_estimation < 0 and task.status != 'Done' %}
                <p class="task-over-estimation">You are not in time with this task. You have underestimate
                    by {{ task.remaining_estimation }} day(s)!</p>
            {% elif task.remaining_estimation is None and task.status != 'Done' %}
                <p class="task-estimation-none">You didn't set any estimation to this task.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
