{% extends 'tasks/base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_pages_styles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_message.css' %}"/>
{% endblock %}
{% block title %} Reset password {% endblock %}
{% block anonymous_user_content %}
    <div class="alignment">
        <form method='post' autocomplete="off">
            {% csrf_token %}
            <div><label>Type email for resetting password</label></div>
            <div class="reset_password">
                <input class="form-control" id="email" type="email" name="email" maxlength="254" placeholder="Email"
                       title="Required. Inform a valid email address." required>
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>
    {% include 'tasks/templates_helpers/error_messages.html' %}
{% endblock %}